.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav"
    "main";
}

nav {
    grid-area: nav;
    background-color: #4D4D6F;
}

main {
    grid-area: main;
    display: grid;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

* {
    font-family: 'Open Sans', sans-serif;
}

header{
    grid-area: header;
    background-color: #7478BA;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 700;
    color: white;
    font-size: 1.2rem;
}

h1 span {
    font-weight: 100;
}

.notification {
    display: flex;
    border-right: 1px solid #5D63B9;
}

.bell-icon {
    margin: auto 0;
    width: 1.5em;
    padding: 0 25px;
    transition: all .3s;
}

.bell-icon:hover {
    transform: rotate(30deg);
}

.green-dot {
    position: relative;
    top: 4px;
    right: 29px;
    border-radius: 50%;
    background: #7EDA8C;
    z-index: 1000;
    height: 8px;
    width: 8px;
}

.user-image{
    height: 40px;
    border-radius: 50%;
    margin: auto 10px auto 20px;
}

h2 {
    font-weight: 400;
    color: #676666;
}

h5 {
    font-size: 0.8rem;
    font-weight: 200;
    color: #fff;
    margin: auto 0;

}

.alert {
    display: flex;
    background-color: #7378BA;
    margin: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
}

.alert-content {
    font-weight: 200;
    padding-left: 10px;
}

.x {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: auto;
    padding-left: 10px;
    text-decoration: none;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
}

.nav-icon {
opacity: 0.5;
}

.nav-dash {
border: 4px solid;
border-color: transparent transparent #7EDA8B transparent ;
}

nav ul {
display: flex;
flex-direction: row;
padding: 0 2vw;
justify-content: space-between;
align-items: center;
padding-top: 10px;
}

nav ul li img {
width: 6vw;
padding: 2vw 2vw;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.right-side {
    display: flex;
    padding-bottom: 0.5rem;
}

.main-header-search {
  position: relative;
  color: #656BBC;
  font-size: 15px;
  width: 80%;
}

input[type=search]::placeholder {
    color:#B8B8B8;
    font-weight: 100;
}

.main-header-search input {
  height: 40px;
  width: 100%;
  background: #fff;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  text-indent: 10px;
}



.main-header-search .fa-search { 
  position: absolute;
  top: 30%;
  right: 5%;
}

.headline {
    padding: 10px 30px;
    background-color: #fff;
}

section.traffic {
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.traffic-nav {
    list-style-type: none;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    color: #8F8F8F;
}

.traffic-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.daily-header, .mobile-header, .social-header, .message h3, .settings h3 {
    margin: 1rem;
    text-transform: uppercase;
}

h3 {
    color: #8F8F8F;
    font-size: 14px;
    font-weight: 400;
}

.traffic-options {
    padding: 5px 15px;
}

.traffic-options:nth-child(3) {
    color: #fff;
    background-color: #7CC995;
    border-radius: 30px;

}

#traffic-chart, #daily-chart {

    letter-spacing: 2px;
}

.daily {
margin-top: 1.5rem;
padding-top: 1rem;
padding-bottom: 2rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.mobile {
margin-top: 1.5rem;
padding-top: 1rem;
padding-bottom: 2rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-header {
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    text-align: center;
}

.social-container {
    background-color: #FBFBFB;
    border: 1px solid #D1D1D1;
    width: 90%;
    height: 118px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
}
    

.social-text > p:nth-child(1) {
    color: #878BC2;
    font-size: 1.1rem;
    font-weight: 600;
    margin: auto;
}

.social-text > p:nth-child(2) {
    color: #686868;
    font-size: 2rem;
    font-weight: 100;
    margin: auto;
}

.social-image {
    background-color: #7378BA;
    padding: 1.2rem;
    margin: 1rem;
    border-radius: 100%;
}

.social-icon {
    height: 32px;
}

.members {
margin-top: 3rem;
padding-right: 1rem;
padding-bottom: 1rem;
}

.members-container {
display: flex;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
margin-left: 1rem;
flex-direction: row;
flex-wrap: wrap;    
}

.members-container:not(:last-child) {
    border-bottom: 1px solid #D8D8D8;
}

.profile-image {
height: 40px;
border-radius: 100%;
}

.members-text {
width: 100%;
flex: 1 0 50%;
margin: 1rem 0 1rem 0.8rem;
}

.members-text p {
font-size: 0.9rem;
color: #666666;
margin: 0 0 0 0.2rem;
}

.members-text a {
    font-size: 0.8rem;
    color: #8589C1;
    text-decoration: none;
    margin: 0 0 0 0.2rem;
}

.member-date{
    color: #888888;
    font-size: 0.8rem;
    flex: 0 1 100%;
}

.members h3 {
    margin-left: 1rem;
    margin-top: 2rem;
    text-transform: uppercase;
    text-align: center;

}

.recent-activity {
    margin-top: 3rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    }

    .recent-activity h3 {
        margin-left: 1rem;
        margin-top: 2rem;
        text-transform: uppercase;
        text-align: center;
    }

.fa-chevron-right {
    color: #8C90C5;
}

.members-text p:nth-child(2){
font-size: 0.8rem;
margin: 0.25rem 0 0 0.2rem;
}

.form-field, .form-area {
    width: 100%;
    margin: 10px 0;
    padding: 2%;
    background-color: #FBFBFB;
    font-size: .9rem;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

textarea {
    height: 120px
}

input::placeholder, textarea::placeholder{
    color: #C8C8C8;
    font-weight: 100;
}

#send {
    width: 100%;
    margin: 10px 0;
    padding: 1rem;
    background-color: #7378BA;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
    border-radius: 5px;
    border: none
}

.settings-button {
    display: flex;
    justify-content: space-between;
    margin: 1vw 0;
}

#save {
    width: 47%;
    padding: 1rem;
    background-color: #7378BA;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
    border-radius: 5px;
    border: none
}

#cancel {
    width: 47%;
    padding: 1rem;
    background-color: #B2B2B2;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
    border-radius: 5px;
    border: none
}

form.widget-container {
    padding: 0 1rem;
}

.settings {
    border-left: 1px solid #D8D8D8;
    display: flex;
    flex-direction: column;
}

.toggle-options {
    margin-right: 1rem;
}

.timezone-buttons {
    margin: auto 1rem 0 1rem;
}

.message h3, .settings h3 {
    margin-top: 2rem;
    text-align: center;
}

.toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-text {
    margin-left: 1rem;
    color: #7A7A7A;
    font-size: 0.9rem;
    font-weight: 400;
}

.toggle:nth-child(2) {
margin-top: 1.5vw;
}

#timezone {
    width: 100%;
    color: #C8C8C8;
    font-weight: 100;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

label.timezone-wrap {
    position: relative;
    display: block;
}

label.timezone-wrap:after {
    content: "\f078";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 100%;
        color: #787DBC;
        position: absolute; 
        right: 2%; 
        top: 35%;
        z-index: 1;
        height: 100%;  
        pointer-events: none;    
    }




/* Toggle */

  .switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 35px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border: 2px solid #DADAD5;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    border: 2px solid #DADAD5;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  input:checked + .slider {
    background-color: #7477bf;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 3px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(54px);
  }
  
  .slider:after {
    content:'OFF';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 75%;
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  input:checked + .slider:after {
    content:'ON';
    left: 25%;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* media queries */

  @media (min-width: 400px) {
    .member-date{
        flex: none;
    }
}

  @media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 7vw 1fr;
        grid-template-areas:
        "header header"
        "nav main";
    }
    
    main {
        grid-template-columns: 50% ;
    }
    
    .main-header, .alert, .traffic, .social {
        grid-column: 1 / span 2;
    }
    
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
    
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
    
    .widget-container-full {
        width: 90vw;
        margin: auto;
    }
    .widget-container-half {
        width: 43vw !important; 
        margin: auto;
    }
    
    nav ul li img {
        width: 2.5vw;
        padding: 2vw 2vw;
    }
    
    nav ul {
        flex-direction: column;
        justify-content: center;
    }
        
    .nav-dash {
        border: 4px solid;
        border-color: transparent transparent transparent  #7EDA8B ;
    }

    header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin: auto auto auto 0;
    }

    .right-side {
        padding-bottom: 0;
    }
    
    .main-header {
        flex-direction: row;
    }
    
    .main-header-search {
        width: 100%;
        padding: 0.25rem;
        margin: 0 0 1rem auto;
        float: right;
        text-align: right;
        background: #FBFBFB;
        border-left: 1px solid #DFDFDF;
        border-bottom: 1px solid #DFDFDF;
    }
    
    .main-header-search input { 
        margin: 1rem;
        width: 383px;
    }
    .main-header-search .fa-search {
        top: 2rem;
        right: 2rem;
    }
    .headline {
        margin-right: auto;
    }
    
    .green-dot {
        top: 4px;
    }

    .social-media {
        flex-direction: row;
        justify-content: space-around;
    }

    .social-container {
        width: 30%;
        margin: 0;
        }
    .main-header {
        width: 93vw;
    }

    section.traffic {
        align-items: normal
    }

    .traffic-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
    }

    .toggle-options {
        width: calc(350px - 4%)
    }

    .traffic-nav {
        margin-left: auto;
    }
    .alert {
        height: 50%;
    }

    .daily {
        border: 1px solid;
        border-color: #D8D8D8 transparent #D8D8D8 transparent;
    }

    .daily, .mobile {
    align-items: flex-start;
    }

    .mobile {
        border: 1px solid;
        border-color: #D8D8D8 transparent #D8D8D8 #D8D8D8;
    }

    .social-header {
        text-align: left;
    }

    .members h3, .recent-activity h3, .message h3, .settings h3 {
        text-align: left;
    }
    .members {
        border: 1px solid;
        border-color: #D8D8D8 transparent #D8D8D8 transparent;
    }
    .recent-activity {
        border: 1px solid;
        border-color: #D8D8D8 transparent #D8D8D8 #D8D8D8;
    }
}
    
    @media (min-width: 1024px) {
        .user-image{
            height: 50px;
        }
        .green-dot {
            top: 7px;
        }
    }